#wrapper {
  width: 900px;
  margin: auto;
}

#title-header {
  color: firebrick;
  margin-bottom: 10px;
}

#c {
  display: block;
  margin: auto;
}

#controls-explanation {
  text-align: center;
}
